.footer{
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);    
    color:$color-primary-light;
    background-color: black;
    width:100%;
    height:50vh;
    padding 2rem;
    position:relative;
    &__logo{
        position:absolute;
        left:3rem;
        grid-column: 1/2;
    }
    &__contsctUs{
        grid-column: 2/3;
    }
    &__details{
        grid-column: 3/4;
    }
}
.logo{
    width: 13rem;
    transform: translateY(50%);
}