*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    background-image: url(../img/background.png);
}

$color-primary-light: #89fffd;
$color-primary-dark: #021B79;

@mixin center{
    position:absolute;
    left:50%;
    transform:translate(-50%, -50%);
}

@mixin headerStyle{
    line-height: 15rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color:#021B79;
}

@keyframes dropDown{
     0%{
        opacity:0;
        transform:translate(-50%, -300%);
    }
    100%{
        opacity:.5;
    }
}


@keyframes moveFromLeft{
    0%{
        transform:translate(-220%, -50%);
    }
    70%{
        transform:translate(10%, 0);
    }
}

@keyframes moveFromRight{
    0%{
        transform:translate(220%, -50%);
    }
     70%{
        transform:translate(-10%, 0);
    }
}
























